/* =========================================
   GENERAL
   ========================================= */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}


/* =========================================
   HEADER
   ========================================= */

header {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);

    width: 1103px;
    height: 29px;

    z-index: 10;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 167px;
    height: 29px;
}

header > div > div {
    display: flex;
    gap: 40px;
}

header a {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
    text-decoration: none;
}


/* =========================================
   HERO
   ========================================= */

.hero {
    width: 100%;
    height: 1093px;

    background: #071629 url("images/background.png") center top / cover no-repeat;

    color: #FFFFFF;
}


/* =========================================
   HERO CONTENT
   ========================================= */

.hero-content {
    padding-top: 220px;
    text-align: center;
}

.hero-content h1 {
    margin: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;

    color: #FFFFFF;
}


/* SMILES GRIN LAUGH */

.smile-words {
    display: flex;
    justify-content: center;
    gap: 58px;

    margin: 21px 0 0;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
}

.smile-words span {
    display: block;
}


/* REGISTER BUTTON */

.hero-content button {
    width: 162px;
    height: 44px;

    margin-top: 38px;

    border: none;
    border-radius: 22px;

    background: #C271FF;
    box-shadow: 0 2px 20px 0 #00000080;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    color: #FFFFFF;
}
/* =========================================
   PROS
   ========================================= */

.pros-section {
    text-align: center;
}
.pros-section h2 {
    margin: 168px 0 0;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    color: #FFFFFF;
}

.pros-section h2 .learn {
    color: #C271FF;
    font-weight: 700;
}

.pros-section h2 .pros-word {
    color: #FFFFFF;
    font-weight: 300;
}


.pros {
    width: 1009px;
    height: 237px;

    margin: 87px auto 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.pro {
    width: 150px;
    height: 237px;

    text-align: center;
}

.pro img {
    width: 150px;
    height: 150px;

    border-radius: 50%;
}

.pro h3 {
    width: 150px;
    height: 27px;

    margin: 10px 0 0;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
    color: #FFFFFF;

    white-space: nowrap;
}

.pro p {
    width: 150px;
    height: 48px;

    margin: 2px 0 0;
    padding: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    color: #FFFFFF;

}

/* =========================
   TASK 3: QUOTE SECTION
   ========================= */

main > section:nth-child(2) {
    width: 100%;
    height: 392px;

    background: #C271FF;

    position: relative;
}


/* Testimonial container */
main > section:nth-child(2) > div {
    width: 943px;
    height: 160px;

    position: absolute;
    top: 108px;
    left: 259px;

    display: flex;
    align-items: flex-start;
}


/* Avatar */
main > section:nth-child(2) > div > img {
    width: 160px;
    height: 160px;

    border-radius: 50%;
    object-fit: cover;
}


/* Text container */
main > section:nth-child(2) > div > div {
    width: 730px;
    height: 158px;

    margin-left: 53px;
}


/* Quote */
main > section:nth-child(2) blockquote {
    width: 730px;
    height: 68px;

    margin: 2px 0 0 0;
    padding: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33.6px;
    letter-spacing: 0;

    color: #FFFFFF;
}


/* Person name */
main > section:nth-child(2) div > div p:first-of-type {
    margin: 14px 0 0 0;
    padding: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 33.6px;
    letter-spacing: 0;

    color: #FFFFFF;
}


/* Person's job */
main > section:nth-child(2) div > div p:last-of-type {
    width: 165px;
    height: 34px;

    margin: 0;
    padding: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33.6px;
    letter-spacing: 0;

    font-style: italic;
    color: #FFFFFF;

    white-space: nowrap;
}

/* TASK 4 - Popular Tutorials */

main > section:nth-child(3) {
  width: 100%;
  height: 450px;
  background: #ffffff;
  position: relative;
  padding-top: 87px;
  box-sizing: border-box;
}

/* Most popular tutorials */
main > section:nth-child(3) > h1 {
  width: auto;
  height: 40px;
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #071629;

  white-space: nowrap;
}

main > section:nth-child(3) > h1 span {
  font-weight: 700;
  color: #C271FF;
}

/* Cards container */
main > section:nth-child(3) > div {
  width: 1228px;
  height: 335px;
  margin: 35px auto 0;

  display: flex;
  justify-content: space-between;
}

/* Individual card */
main > section:nth-child(3) > div > div {
  width: 255px;
  height: 335px;

  position: relative;

  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px #0716292E;
}

/* Preview image */
main > section:nth-child(3) > div > div > img:first-child {
  width: 255px;
  height: 154px;

  object-fit: cover;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Play button */
main > section:nth-child(3) > div > div::before {
  content: "";
  position: absolute;

  top: 45px;
  left: 96px;

  width: 64px;
  height: 64px;

  background: #ffffff;
  opacity: 0.86;

  border-radius: 50%;

  z-index: 2;
}

/* Play triangle */
main > section:nth-child(3) > div > div::after {
  content: "";

  position: absolute;

  top: 69px;
  left: 120px;

  width: 0;
  height: 0;

  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 13px solid #C271FF;

  z-index: 3;
}

/* Tutorial title */
main > section:nth-child(3) > div > div > h2 {
  position: absolute;
  top: 172px;
  left: 13px;

  width: 106px;
  height: 20px;

  margin: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #071629;

  white-space: nowrap;
}

/* Description */
main > section:nth-child(3) > div > div > p {
  position: absolute;
  top: 199px;
  left: 13px;

  width: 242px;
  height: 48px;

  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #07162980;
}

/* Author section */
main > section:nth-child(3) > div > div > div:first-of-type {
  position: absolute;
  top: 261px;
  left: 13px;

  height: 30px;

  display: flex;
  align-items: center;
}

/* Author image */
main > section:nth-child(3) > div > div > div:first-of-type > img {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  object-fit: cover;
}

/* Author name */
main > section:nth-child(3) > div > div > div:first-of-type > h3 {
  margin: 0 0 0 13px;

  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  color: #C271FF;

  white-space: nowrap;
}

/* Rating section */
.rating {
  position: absolute;
  top: 297px;
  left: 13px;

  width: 229px;
  height: 27px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Stars */
.stars {
  display: flex;
  gap: 8px;
  align-items: center;
}

.stars span {
  width: 15px;
  height: 15px;

  font-size: 15px;
  line-height: 15px;
  color: #C271FF;
}

.stars .empty-star {
  color: #D8D8D8;
}

/* Duration */
.rating > p {
  width: 34px;
  height: 27px;

  margin: 0;

  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  text-align: right;
  color: #C271FF;

  white-space: nowrap;
}